*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(253, 251, 251);
}
#cabecalho{
    margin-top: 0;
    background-color: green;
   /* position: fixed; */
}
#titulo{
 text-align: center;
    
}
#licoes_a_aprender{
    margin: 25px;
}
#licoes_aprendidas{
    margin: 25px;
}