* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(253, 251, 251);
  position: relative;
}

/*--------------------------------------*/
#cabecalho {
  margin-top: 0px;
  background-color: #003049;
  position: fixed;
  width: 100%;
  z-index: 10;
  font-family: 'Playfair Display', serif;
}

#titulo {
  text-align: center;
  color: white;
}

/*--------------------------------------*/
#tudo {
  margin-left: 3%;
  margin-right: 3%;
  position: relative;
  top: 60px;
  background-color: #eae2b7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: 10px;
}

#primeiro-bloco {
  position: relative;
  background-color: #fcbf49;
  border-radius: 5px;
  margin: 0px 10px 10px 10px;
  width: 98.5%;
}

#imagem {
  display: inline-block;
  margin: 10px 10px 10px 10px;
}

#minha_foto {
  border-radius: 5px;
}

#sobre-mim {
  display: inline-block;
  margin-bottom: 1px;
  line-height: 20px;
}

#sobre-mim h1 {
  font-weight: bold;
  font-size: 100px;
  line-height: 1em;
  margin-bottom: 5px;
}

/*--------------------------------------*/
#listas {
  display: inline-block;
}

#licoes_a_aprender {
  margin: 25px;
}

#licoes_aprendidas {
  margin: 25px;
}

#aprendi {
  float: left;
  margin-left: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #003049;
  color: white;
  /*margin-right: 368px; */
  padding-right: 297px;
}

/*#aprendi h2 {
  margin: 3px 3px 0px 3px;
}

#aprendi li {
  margin-left: 10px;
}*/

#nao-aprendi {
  float: right;
  margin-right: 10px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #003049;
  color: white;
  /*margin-left: 368px;*/
  padding-left: 298px;
}

/*--------------------------------------*/
.lado-esquerdo {
  width: 40%;
  margin-left: 10px;
  margin-top: 10px;
  float: left;
  padding-right: 105px;
  border-right: 1px solid black;
  
}

.lado-direito {
  width: 40%;
  margin-right: 10px;
  margin-top: 10px;
  float: right;
  padding-left: 115px;
  
}

.segurador {
  margin-top: 95px;
  margin-left: 10px;
  margin-right: 10px;
}

/*--------------------------------------*/





/*--------------------------------------*/
#rodape {
  position: relative;
  background-color: #003049;
  color: white;
  text-align: center;
  height: 100px;
  margin-top: 100px;
  width: 100%;
}

.siga-me {
  display: block;
  font-weight: bold;
}

.redes-sociais {
  display: inline-block;
  margin-right: 5px;
  margin-top: 20px;
}