* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(253, 251, 251);
  position: relative;
}

#cabecalho {
  margin-top: 0px;
  background-color: #003049;
  position: fixed;
  width: 100%;
  z-index: 10;
}

#tudo {
  margin-left: 3%;
  margin-right: 3%;
  position: relative;
  top: 50px;
  background-color: #eae2b7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: 10px;
}

#primeiro-bloco {
  position: relative;
  background-color: #fcbf49;
  border-radius: 5px;
  margin: 0px 10px 10px 10px;
  width: 98.5%;
}

#imagem {
  display: inline-block;
  margin: 10px 10px 10px 10px;
}

#minha_foto {
  border-radius: 5px;
}

#sobre-mim {
  display: inline-block;
  margin-bottom: 1px;
}

#sobre-mim h1{
 font-weight: bold;
 font-size: 100px;
}

#titulo {
  text-align: center;
  color: white;
}

#licoes_a_aprender {
  margin: 25px;
}

#licoes_aprendidas {
  margin: 25px;
}

#rodape {
  position: relative;
  background-color: #003049;
  color: white;
  text-align: center;
  height: 100px;
  margin-top: 50px;
  width: 100%;
}

.siga-me {
  display: block;
  font-weight: bold;
}

.redes-sociais {
  display: inline-block;
  margin-right: 5px;
  margin-top: 20px;
}