* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(253, 251, 251);
}

/* -------------------------------------- */
#cabecalho {
  top: 0;
  background-color: rgb(0, 48, 73);
  position: fixed;
  width: 100%;
  z-index: 10;
  font-family: ' Playfair Display', serif;
}

#titulo {
  text-align: center;
  color: white;
}

/* -------------------------------------- */
#tudo {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 70px;
  width: 90%;
  background-color: rgb(234, 226, 183);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px;
}

#primeiro-bloco {
  display: flex;
  align-items: flex-end;
  padding: 10px;
  background-color: rgb(252, 191, 73);
  border-radius: 5px;
  width: 98%;
  margin: auto;
  margin-bottom: 10px;
}

#imagem {
  display: inline-block;
  margin-right: 10px;
}

#minha_foto {
  border-radius: 5px;
}

#sobre-mim {
  display: inline-block;
  margin-bottom: 1px;
  line-height: 20px;
}

#sobre-mim h1 {
  font-weight: 900;
  font-size: 100px;
  line-height: 1em;
  margin-bottom: 5px;
}

/* -------------------------------------- */
#listas {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
}

#aprendi {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background-color: rgb(0, 48, 73);
  color: white;
  width: 50%;
}

#aprendi ol {
  margin-left: 25px;
}

#nao-aprendi {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgb(0, 48, 73);
  color: white;
  width: 50%;
}

#nao-aprendi ul {
  margin-left: 25px;
}

/* -------------------------------------- */
.conteudo {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 98%;
  margin: auto;
  margin-top: 10px;
}

.coteudo-title {
  text-align: center;
  width: 100%;
}

.lado-esquerdo {
  width: 48%;
  padding: 10px;
  border-right: 1px solid black;
}

.lado-direito {
  padding: 10px;
  width: 48%;
  text-align: end;
}

.segurador {
  padding: 10px;
  width: 100%;
}

/* -------------------------------------- */
#sessao-tabela h1 {
  margin: 10px 0 10px 15px;
}

#tabela {
  margin-left: 30px;
  display: inline-block;
  margin-bottom: 20px;
}

table , th , td {
  border: 1px solid black;
}

/* -------------------------------------- */
#rodape {
  position: relative;
  background-color: rgb(0, 48, 73);
  color: white;
  text-align: center;
  height: 100px;
  width: 100%;
}

.siga-me {
  display: block;
  font-weight: 900;
}

.redes-sociais {
  display: inline-block;
  margin-right: 5px;
  margin-top: 20px;
}
